{% extends 'head.html' %}
{% block body %}

<ol class="breadcrumb">
  <li class="breadcrumb-item">
  <label><a href="home">Home</a></label>
  </li>
  <li class="breadcrumb-item active" style="color: #17A288;">Diabetes Diagnosis</a></li>
</ol>
       
                
          <!--FOR BP MEASURE-->
          <div id="BP" class="card mb-3">
          <form action="{{url_for('make')}}" method="POST" >  
          <div class="row">
              <div class="offset-md-4 col-lg-6">
              <div class="row">
              <center><h1 style="color:blue">DIABETES DIAGNOSIS FORM</h1></center>
              <div class="col-lg-12">
              <div class="range">
              <input type="range" name="glucose" min="4.0" max="7.0" value="0" oninput="rangeValue0.innerText=value" required>Glucose(mol/L)</input>
              <output id="rangeValue0">0</output> 

              </div>
              </div>

              <div class="col-lg-12">
              <div class="range range-primary">
              <input type="range" name="sys_bp" min="1" max="100" value="50" oninput="rangeValue1.innerText=value" required>Systole Pressure</input>
              <output id="rangeValue1">0</output>
              </div>
              </div>
              <div class="col-lg-12">
              <div class="range range-success">
              <input type="range" name="dias_bp" min="1" max="100" value="50" oninput="rangeValue2.value=value" required>Diastole Pressure</input>
              <output id="rangeValue2">0</output>
              </div>
              </div>
              <div class="col-lg-12">
              <div class="range range-info">
              <input type="range" name="height" min="1" max="100" value="50" oninput="rangeValue3.value=value" required>Height</input>
              <output id="rangeValue3">0</output>
              </div>
              </div>
              <div class="col-lg-12">
              <div class="range range-warning">
              <input type="range" name="chol" min="1" max="100" value="50" oninput="rangeValue4.value=value" required>Cholestrol</input>
              <output id="rangeValue4">0</output>
              </div>
              </div>
              
              <div class="col-lg-12">
              <label>Gender</label>
              <div class="form-check">
              <input type="radio" class="form-check-input" name="sex" value="male" required>Male</input>
              </div>
              <div class="form-check">
              <input type="radio" class="form-check-input" name="sex" value="female" required>Female</input>
              </div>
              </div>
              
              <div class="col-lg-12">
              <div class="range range-info">
              <input type="range" name="age" min="1" max="100" value="50" oninput="rangeValue6.value=value" required>Age</input>
              <output id="rangeValue6">0</output>
              </div>
              </div>
              
              <div class="col-lg-12">
              <div class="range range-success">
              <input type="range" name="whp" min="1" max="100" value="50" oninput="rangeValue7.value=value" required>BMI range</input>
              <output id="rangeValue7">0</output>
              </div>
              </div>
              
              <div class="col-lg-12">
              <div class="range range-info">
              <input type="range" name="mass" min="1" max="100" value="50" oninput="rangeValue8.value=value" required>Weight</input>
              <output id="rangeValue8">0</output>
              </div>
              </div>

              <div class="col-lg-12"><br>
              <div class="form-group col text-center">
              <button type="submit" class="btn btn-primary" value="Predict">PREDICT</button>
              </div>
              </div>
          </div>
          </form>
          
          <div class="col-lg-6">
              <div class="offset-md-4 col-lg-6">
              <div class="row">
              {% if data == 0 %}
              <h1>NORMAL</h1>
              {% endif %}
              {% if data == 1 %}
              <h1>ABNORMAL</h1>
              {% endif %}
              </div>
              </div>
                </div>
                </div>
          
          <style>
              h1 {
                color: green;
                text-align: center;
              }
              div.one {
                margin-top: 40px;
                text-align: center;
              }
              button {
                margin-top: 10px;
              }
            </style>
            
          </div>
          </div>
          </div>
          </div>
              </div>
          </div>
    </div>
  </div>
</div>


{% endblock %}