{% extends 'head.html' %}
{% block body %}
<!-- Breadcrumbs-->
 <ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="home">Home</a>
  </li>
</ol>

    <div class="card mb-3">
        <div class="row">
              <div class="offset-md-4 col-lg-6">
              <div class="row">
                <center><h1 style="color:blue">Publish Report</h1>
                <p>
                    <a href="{{ url_for('.download_report') }}">Generate Pdf Report</a>
                </p>
                </center>
            </div>
            </div>
        </div>
    </div>

{% endblock %}
</body>
</html>