{% extends 'head.html' %}
{% block body %}

<ol class="breadcrumb">
  <li class="breadcrumb-item">
  <label><a href="home">Home</a></label>
  </li>
  <li class="breadcrumb-item active" style="color: #17A288;">Tuberculosis Diagnosis</a></li>
</ol>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src=
      "https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity=
      "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
        <script src=
      "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
          integrity=
      "sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
          crossorigin="anonymous"></script>
        <script src=
      "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
          integrity=
      "sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
          crossorigin="anonymous"></script>
          
          <div id="Tuberculosis" class="card mb-3">
          <div class="row">
              <div class="offset-md-4 col-lg-6">
              <div class="row">
              <center><h1 style="color:white">TUBERCULOSIS DIAGNOSIS</h1></center>
              <h1>PROVIDE AN IMAGE</h1>
              <div class="col-lg-6">
              <!--FOR IMAGE -->
             <!-- <div class="container"> -->
             <!-- <div class="row"> -->
             <form method="post" action="{{url_for('upload_image')}}" enctype="multipart/form-data">
                 <dl>
                         <input type="file" name="file" class="form-control" autocomplete="off" required>
                 </dl>       
                     <div class="form-group col text-center">
                     <button type="submit" class="btn btn-primary" value="Predict">PREDICT</button>
                     </div>
             </form>
             
             {% if filename %}
             <div class="col-lg-6">
              <img class="one" src="{{ url_for('display_image', filename=filename) }}" width="300" height="300">
             </div>
             {% endif %}

             <!-- <div id="bp" class="card mb-3"> -->
              <div class="offset-md-4 col-lg-6"> 
             <div class="row">
             {% if data== 0 %}
             <h2>NORMAL</h2>
             {% endif %}
             {% if data== 1 %}
             <h2>ABNORMAL</h2>
             {% endif %}
             </div>

              </div>            
              </div>
                </div>
                </div>
          
          <style>
              h1 {
                color: green;
                text-align: center;
              }
              div.one {
                margin-top: 40px;
                text-align: center;
              }
              button {
                margin-top: 10px;
              }
            </style>
            
          </div>
          </div>
          </div>
          </div>
              </div>
          </div>
    </div>
  </div>
</div>

{% endblock %}